body {
    font-family: Montserrat, Helvetica, Sans-serif, Arial, Verdana, Serif;
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    height: auto;
    color: white;
    width: 95%;
    margin: 5px auto;
}

.content {
    margin-top: 60px;
    padding: 20px;
}

.pill-nav a {
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.pill-nav a:hover {
    background-color: #ddd;
    color: black;
}

.pill-nav a.active {
    background-color: #006E43;
    color: white;
}

#status-banner {
    padding: 10px;
    align-self: start;
    font-size: 20px;
    font-weight: bold;
}

.open, .closed {
    color: white;
    border-radius: 17px;
    margin: 10px auto;
    padding: 10px auto;
    width: 95%;
    max-width: 2000px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.open {
    background-color: #006E43;
}

.closed {
    background-color: #f44336;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.lineBreak {
    display: inline-block;
    margin-top: 5px auto;
    margin-bottom: 5px auto;
    width: 5px;
    height: 27px
}

#widgetNews {
    background-color: #004650;
    width: 100%;
}

#widgetExhibitions {
    background-color: #f44336;
    width: 100%;
}

#widgetCollections {
    background-color: #006E43;
    width: 100%;
}

#widgetCalendar {
    background-color: #004b77;
    width: 100%;
}

#widgetEvents {
    background-color: #FF9090;
    width: 100%;
}

#widgetResources {
    background-color: #004823;
    width: 100%;
}

.home1, .widget1 {
    color: white;
    border-radius: 17px;
    margin: 10px auto;
    padding: 10px auto;
    width: 47.5%;
    max-width: 2000px;
    justify-content: center;
    align-items: center;
    display: inline-table;
    float: left;
}

.home2, .widget2 {
    color: white;
    border-radius: 17px;
    margin: 10px auto;
    padding: 10px auto;
    width: 47.5%;
    max-width: 2000px;
    justify-content: center;
    align-items: center;
    display: inline-table;
    float: right;
}

.home {
    width: 97%;
    max-width: 2000px;
    align-items: center;
    padding: 5px auto;
}

.home1 {
    text-align: center;
    margin: 12px 0 10px 10px;
}

.home2 {
    text-align: center;
    margin: 12px 0 10px 0;
}

a {
    color: white;
}